div.App {
  width: 100%;
  height: 100%;
  display: flex;
}

div.multiplication-table {
  width: 50%;
  height: 100%;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td {
  width: calc(50% / 12);
  text-align: center;
  border: 1px solid;
}

td.header {
  background: lightgrey;
  font-weight: bold;
}

td.cursor-change {
  cursor: pointer;
}

div.history {
  width: 50%;
  text-align: center;
  overflow-y: auto;
  padding-bottom: 50px;
  font-size: 20px;
}

div.history h1 {
  font-size: 50px;
}